<% profile_user = User.find(params[:id]) %>

<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <%= image_tag ("snoopy.jpg") %>
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">
          <% if profile_user.vote_count.to_i >= 10 %>
            <%= "Expert Voter" %>
          <% elsif profile_user.vote_count.to_i >= 5 %>
            <%= "Passionate Voter" %>
          <% elsif profile_user.vote_count.to_i >= 2 %>
            <%= "Novice Voter" %>
          <% end %>

          <%= profile_user.name %>

          <% if current_user != nil and current_user.id == profile_user.id %>
            <a class="edit-profile" href="<%= edit_user_path(profile_user) %>">
                <button>Edit Profile</button>
            </a>
          <% end %>

        </h2>
        
      </div>
      <ul class="posts">
        <li><span>

          <%= Post.Corresponding_Posts(profile_user).count %>

        </span> posts</li>
        <li><span>
          <%= profile_user.followers.split(',').length %>
        </span> followers</li>
        <li><span>
          <%=profile_user.follows.split(',').length %>
        </span> following</li>
      </ul>
      <h2 class="name">
        <%= profile_user.name %>
      </h2>
      <a class="website">
        <%= profile_user.website %>
      </a>

    </div>
  </div>
</div>

<div style="width: 230px; height: 70px; background: fcb69f; opacity: 0.8
color: fcb69f;"></div>
 


<div class="user-images">
  <% 
    if current_user == nil
      looker_id = -1  
    else 
      looker_id = current_user.id 
    end 
  %>
  
  <% filtered_posts = Post.visibility_filter( Post.Corresponding_Posts(profile_user), looker_id ) %>
  <% filtered_posts.each do |post| %>
  <div class="card movie_card">
    
  <div class="img">
    <% if post.image.attached? %>
      <%= link_to(image_tag(url_for(post.image),:class => "img"), post_path(post.id)) %>
    <% end %>  
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= post.description %></h5>
    <span class="movie_info"><%= post.user.username %></span>
  </div>
</div>
<% end %>

</div>
