<div class="panel panel-default">
<div class="panel-body">
    <p>Vote Create</p>
<%= form_for Post.new do |f| %>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, :maxlength => 150 %>
  </div>
  <div class="form-group">
    <%= f.label "existingtime(in minutes)" %>
    <%= f.number_field :existingtime , min:0%>
  </div>
  <div class="form-group">
    <%= f.label "Hashtags(split by \",\")" %>
    <%= f.text_field :hash_tags %>
  </div>
  <div class="form-group">
     <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  

  <div class="form-group">
    <%= f.text_field :user_id, value: current_user.id, style: 'display:none'%>
  </div>
  <div class="form-group", id="demo">

  </div>
   <!-- https://stackoverflow.com/questions/746387/labels-for-radio-buttons-in-rails-form -->
  <div class="form-group">
    <%= f.label :visibility %><br>
    <%= f.radio_button :visibility, 'public', :checked => true %> 
    <%= label :visibility, 'Public' %>
     <%= f.radio_button :visibility, 'private', :checked => true %> 
    <%= label :visibility, 'Private' %>
      <%= f.radio_button :visibility, 'follow', :checked => true %> 
    <%= label :visibility, 'Only Followers' %>
    <%
=begin%>
 <%= f.text_field :who_can_see %> 
<%
=end%>
  </div>
  
    <%
=begin%>
 <div class="form-group">
    <%= f.label :who_can_see %>
    <%= f.text_field :who_can_see %>
  </div> 
<%
=end%>

  <br>

  <p>Choice Create</p>

  <% session[:image_count] = 0 %>

  <%= fields_for :choices do |builder| %>
        <%= render 'choice_fields', f:builder %>
  <% end %>
  

  <div class ="links">   
  <%= link_to_add_association "Add Choices", f, :choices, class: 'btn btn-default'%>
  </div>


  <div class="text-center">
    <%= f.submit 'Create Vote', class: 'btn btn-primary' %>
  </div>
<% end %>
    </div>
</div>




<script type="text/javascript">
    var x=document.getElementById("demo");
    getLocation();
    function getLocation()
    {
      if (navigator.geolocation)
        {
        navigator.geolocation.getCurrentPosition(showPosition);
        }
      else{x.innerHTML="Geolocation is not supported by this browser.";}
    }
    function showPosition(position)
    { 
      var lng = position.coords.longitude;
      var lat = position.coords.latitude;
      var site = lat.toFixed(6)+','+lng.toFixed(6);
      console.log(site)
        
          document.getElementById("demo").innerHTML = "<input value=\"" + site + "\" style=\"display:none\" type=\"text\" name=\"post[location]\" id=\"post_location\">";
        //  "\<% x=" + site + "\%\>";
    }
</script>